<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pkali.transportationapp">

    <uses-sdk android:minSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="transportation app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".LoginAndMenu.AuthenticatorActivity"
            android:label=  "@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginAndMenu.MainMenuActivity" />
        <activity android:name=".Price.PriceActivity"
            android:theme="@style/Theme.AppCompat"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBG57qk1lkvewRUfAp2nrTtECZJfWzstRk" />
        <!-- AIzaSyDZdc-eHMXyI4dFkHX_UWtEzmxtrxgtsJk -->
        <!-- AIzaSyBG57qk1lkvewRUfAp2nrTtECZJfWzstRk -->
        <activity android:name=".Maps.MapsMarkerActivity" />
        <activity android:name=".Maps.MapsActivityCurrentPlace"/>
        <activity android:name=".Price.PublicTransitActivity" />
        <activity android:name=".Price.PriceSortActivity" />
        <activity android:name=".Price.ETASortActivity"></activity>
        <activity android:name=".backend.RideHistory" />
        <activity android:name=".LoginAndMenu.SettingsActivity" />
    </application>

</manifest>